<div class="flex flex-col gap-5">
  <div class="flex justify-between items-center">
    <div>
      <h1 class="text-3xl font-semibold">Telecaller Bookings</h1>
      <p>View and manage all telecaller bookings</p>
    </div>
    <div class="flex gap-3">
      <input
        type="file"
        #fileInput
        name="file"
        id="file"
        class="hidden"
        (change)="handleFileUpload($event)"
      />
      <p-button
        icon="pi pi-plus"
        [size]="'small'"
        label="Create new booking"
        (onClick)="fileInput.click()"
        [disabled]="telecallerBookingsService.telecallerBookingsMutationMeta().isLoading"
      />
    </div>
  </div>

  <div class="flex justify-between">
    <div class="flex gap-2 p-1 items-center">
      <input
        type="search"
        name="name"
        [(ngModel)]="searchKey"
        (search)="searchKeyChange()"
        id="name"
        pInputText
        placeholder="Search"
        pSize="small"
      />
      <p-button
        label="Search"
        (click)="searchRecords()"
        icon="pi pi-search"
        severity="primary"
        size="small"
      />
    </div>

    <div class="flex items-center gap-2">
      @if (hotMeta.selectedRows().length > 0) {
        <p-button
          label="Deactivate"
          icon="pi pi-user-minus"
          severity="danger"
          size="small"
          [disabled]="telecallerBookingsService.telecallerBookingsMutationMeta().isLoading"
          (onClick)="confirmDeactivateUsers($event)"
        />
        <p-floatlabel variant="on" class="min-w-64">
          <p-multiselect
            id="telecallerAssign"
            [options]="telecallerService.telecallers().data?.data"
            [loading]="telecallerService.telecallers().isLoading"
            fluid="true"
            display="chip"
            filter="false"
            [showToggleAll]="false"
            showClear="true"
            class="max-w-108"
            optionLabel="name"
            optionValue="_id"
          >
            <ng-template let-telecaller #item>
              <span class="text-sm">{{ telecaller.name }}</span>
            </ng-template>
            <!-- The template for customizing selected callers chips -->
            <ng-template #selecteditems let-selectedTelecallers let-placeholder="placeholder">
              @if (selectedTelecallers && selectedTelecallers.length > 0) {
                <div class="flex gap-1 flex-wrap max-h-14 overflow-y-auto">
                  @for (t of selectedTelecallers; track t._id) {
                    <span class="bg-blue-100 text-sm text-blue-800 px-2 rounded">{{ t.name }}</span>
                  }
                </div>
              } @else {
                <span class="text-gray-400">{{ placeholder }}</span>
              }
            </ng-template>
          </p-multiselect>
          <label for="telecallerAssign" class="text-sm"
            >Assign {{ hotMeta.selectedRows().length }} students to Telecaller</label
          >
        </p-floatlabel>
      }
      <p-button
        label="Save Changes"
        (onClick)="updateChanges()"
        [disabled]="
          telecallerBookingsService.telecallerBookingsMutationMeta().isLoading ||
          rowUpdates().length === 0
        "
        size="small"
      />
    </div>
  </div>

  <div class="h-[80vh] max-w-full overflow-x-auto relative">
    @if (telecallerBookingsService.telecallerBookings().isLoading) {
      <div
        class="absolute top-0 left-0 w-full h-full bg-black/5 z-10 flex items-center justify-center"
      >
        <p-progress-spinner />
      </div>
    }
    <hot-table #hotTable [data]="data" [settings]="gridSettings"> </hot-table>
  </div>
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="pagination.first"
    [rows]="pagination.limit"
    [totalRecords]="
      (this.searchKey !== ''
        ? telecallerBookingsService.telecallerBookings().data?.totalDocsForFilter
        : telecallerBookingsService.telecallerBookings().data?.totalDocs) ?? 0
    "
    [rowsPerPageOptions]="[10, 20, 50, 100, 500]"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
    showCurrentPageReport="true"
  />
</div>

<p-toast></p-toast>
<p-confirmpopup></p-confirmpopup>
