<div class="flex flex-col gap-3">
    <div class="flex justify-between items-center">
        <div>
            <h1 class="text-3xl font-semibold">Telecallers</h1>
            <p>View and manage all telecallers</p>
        </div>
        <p-button icon="pi pi-plus-circle" (onClick)="openTelecallerForm('new')">Create new telecaller</p-button>
    </div>
    <p-table [size]="'large'" [stripedRows]="true" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
        [lazy]="true" (onLazyLoad)="loadTelecallers($event)"
        [totalRecords]="this.telecallerService.telecallers().data?.totalDocs || 0"
        [value]="this.telecallerService.telecallers().data?.data || []" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th class="w-[80px]">
                    S.No.
                </th>
                <th>
                    Name
                </th>
                <th>
                    Username
                </th>
                <th>
                    Email
                </th>
                <th>
                    Mobile
                </th>
                <th>
                    Created At
                </th>
            </tr>
        </ng-template>
        @if (this.telecallerService.telecallers().isLoading) {
        <ng-template #body let-rowData>
            <tr>
                <td><p-skeleton height="1.5rem" /></td>
                <td><p-skeleton height="1.5rem" /></td>
                <td><p-skeleton height="1.5rem" /></td>
                <td><p-skeleton height="1.5rem" /></td>
                <td><p-skeleton height="1.5rem" /></td>
                <td><p-skeleton height="1.5rem" /></td>
            </tr>
        </ng-template>
        }
        @else {
        <ng-template #body let-rowData>
            <tr>
                <td>
                    {{ rowData.index }}
                </td>
                <td>
                    {{ rowData.name }}
                </td>
                <td>
                    {{ rowData.username }}
                </td>
                <td>
                    {{ rowData.email }}
                </td>
                <td>
                    {{ rowData.mobile }}
                </td>
                <td>
                    {{ rowData.createdAt }}
                </td>
            </tr>
        </ng-template>
        }
        <ng-template #emptymessage>
            <tr>
                <td colspan="6" class="text-center">
                    <div class="w-full grid content-center">
                        <p class="text-lg font-semibold">No Bookings Found</p>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="isTelecallerModalOpen" [modal]="true"
    [header]="isEdit ? 'Edit Telecaller data' : 'Create New Telecaller'">
    <form #createTelecallerForm="ngForm" class="flex flex-col gap-3">
        <input type="hidden" name="_id" ngModel #id="ngModel">
        <div class="flex flex-col gap-2">
            <label for="name" class="font-semibold">Name</label>
            <input id="name" type="text" name="name" ngModel required #name="ngModel" placeholder="Provide a name..."
                pInputText class="w-full"
                [ngClass]="{'ng-invalid ng-dirty': name.invalid && (name.dirty || name.touched)}" />
            @if (name.invalid && (name.dirty || name.touched)) {
            <small class="text-red-500">Name is required.</small>
            }
        </div>
        <div class="flex flex-col gap-2">
            <label for="username" class="font-semibold">Username</label>
            <input id="username" type="text" name="userName" ngModel required #userName="ngModel"
                placeholder="Provide a username..." pInputText class="w-full"
                [ngClass]="{'ng-invalid ng-dirty': userName.invalid && (userName.dirty || userName.touched)}" />
            @if (userName.invalid && (userName.dirty || userName.touched)) {
            <small class="text-red-500">Username is required.</small>
            }
        </div>
        <div class="flex flex-col gap-2">
            <label for="email" class="font-semibold">Email</label>
            <input id="email" type="text" type="email" ngModel required #email="ngModel"
                placeholder="Provide an email..." pInputText class="w-full"
                [ngClass]="{'ng-invalid ng-dirty': email.invalid && (email.dirty || email.touched)}" />
            @if (email.invalid && (email.dirty || email.touched)) {
            <small class="text-red-500">Email is required.</small>
            }
        </div>
        <div class="flex flex-col gap-2">
            <label for="mobile" class="font-semibold">Mobile</label>
            <input id="mobile" type="text" type="text" ngModel required #mobile="ngModel"
                placeholder="Provide an mobile..." pInputText class="w-full" pattern=""
                [ngClass]="{'ng-invalid ng-dirty': mobile.invalid && (mobile.dirty || mobile.touched)}" />
            @if (mobile.invalid && (mobile.dirty || mobile.touched)) {
            <small class="text-red-500">Mobile is required.</small>
            }
        </div>
        <div class="flex justify-end gap-2 mt-4">
            <p-button [label]="'Cancel'" size="small"
                [disabled]="telecallerService.createTelecallerUserMeta().isLoading" [outlined]="true"
                (onClick)="isTelecallerModalOpen = false; isEdit = false" />
            <p-button [label]="isEdit ? 'Update' : 'Create'" size="small"
                [disabled]="createTelecallerForm.invalid || telecallerService.createTelecallerUserMeta().isLoading"
                (onClick)="isEdit ? updateTelecaller(createTelecallerForm) : createTelecaller(createTelecallerForm)" />
        </div>
    </form>
</p-dialog>

<p-toast />