<div class="flex flex-col gap-3">
  <div class="flex justify-between items-center">
    <div>
      <h1 class="text-3xl font-semibold">Referrers</h1>
      <p>View and manage all Referrers</p>
    </div>
  </div>
  <div class="flex items-center gap-6">
    <app-info-tile
      title="Total Referrers"
      [isLoading]="isReferrersLoading()"
      [value]="referrersData()?.totalDocs"
    ></app-info-tile>
    @if (
      !isObjectEmpty({ search }) &&
      referrersData()?.totalDocsForFilter !== referrersData()?.totalDocs
    ) {
      <app-info-tile
        title="Search Referrers"
        [isLoading]="isReferrersLoading()"
        [value]="referrersData()?.totalDocsForFilter"
        icon="search"
      ></app-info-tile>
    }
  </div>
  <div class="flex items-center gap-1">
    <input
      type="search"
      [(ngModel)]="searchKey"
      placeholder="Search by name, username, email, or phone..."
      pInputText
      (keydown.enter)="search()"
      (search)="search()"
      pSize="small"
    />
    <p-button
      label="Search"
      (click)="search()"
      icon="pi pi-search"
      severity="primary"
      size="small"
    />
  </div>

  <p-table
    [size]="'large'"
    [stripedRows]="true"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [lazy]="true"
    (onLazyLoad)="loadReferrers($event)"
    [totalRecords]="
      isSearchActive() ? referrersData()?.totalDocsForFilter || 0 : referrersData()?.totalDocs || 0
    "
    [value]="referrersData()?.data || []"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template #header>
      <tr>
        <th class="w-20">S.No.</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Deactivation</th>
        <th>Referrals</th>
        <th>Joined</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    @if (isReferrersLoading()) {
      <ng-template #body let-rowData>
        <tr>
          <td><p-skeleton height="1.5rem" /></td>
          <td><p-skeleton height="1.5rem" /></td>
          <td><p-skeleton height="1.5rem" /></td>
          <td><p-skeleton height="1.5rem" /></td>
          <td><p-skeleton height="1.5rem" /></td>
          <td><p-skeleton height="1.5rem" /></td>
          <td><p-skeleton height="1.5rem" /></td>
          <td><p-skeleton height="1.5rem" /></td>
          <td><p-skeleton height="1.5rem" /></td>
        </tr>
      </ng-template>
    } @else {
      <ng-template #body let-rowData>
        <tr>
          <td class="w-20">
            {{ rowData.index }}
          </td>
          <td>
            {{ rowData.name }}
          </td>
          <td class="max-w-40 truncate" autoHide="false" [pTooltip]="userNameTooltipContent">
            <ng-template #userNameTooltipContent class="text-nowrap w-50"
              >{{ rowData.username }}
              <p-button
                [icon]="tooltipIcon()"
                [size]="'small'"
                [variant]="'outlined'"
                severity="secondary"
                (click)="copyToClipboard(rowData.username)"
                rounded="true"
              ></p-button
            ></ng-template>
            {{ rowData.username }}
          </td>
          <td class="max-w-40 truncate" autoHide="false" [pTooltip]="emailTooltipContent">
            <ng-template #emailTooltipContent class="text-nowrap w-50"
              >{{ rowData.email }}
              <p-button
                [icon]="tooltipIcon()"
                [size]="'small'"
                [variant]="'outlined'"
                severity="secondary"
                (click)="copyToClipboard(rowData.email)"
                rounded="true"
              ></p-button
            ></ng-template>
            {{ rowData.email }}
          </td>
          <td>
            {{ rowData.mobile }}
          </td>
          <td>
            @if (rowData.deactivatedAt) {
              <p class="text-sm">
                Deactivated at {{ rowData.deactivatedAt | formatDate }} by
                {{ rowData.deactivatedBy?.name }}
              </p>
            } @else {
              <p>No</p>
            }
          </td>
          <td class="max-w-12">
            {{ rowData.referrals }}
          </td>
          <td [noWrap]="true">
            {{ rowData.createdAt | formatDate: true }}
          </td>
          <td>
            <div class="grid grid-cols-2 gap-4">
              <p-button
                (click)="toggleReferrerDetailsModal(rowData._id)"
                icon="pi pi-eye"
                [size]="'small'"
                [variant]="'outlined'"
                rounded="true"
              />
              @if (!rowData.deactivatedAt) {
                <p-button
                  icon="pi pi-user-minus"
                  size="small"
                  [severity]="'danger'"
                  [variant]="'outlined'"
                  rounded="true"
                  (click)="showActivationPopup($event, rowData._id, true)"
                />
              } @else {
                <p-button
                  icon="pi pi-user-plus"
                  size="small"
                  [severity]="'success'"
                  [variant]="'outlined'"
                  rounded="true"
                  (click)="showActivationPopup($event, rowData._id, false)"
                />
              }
              <p-confirmpopup appendTo="body" />
            </div>
          </td>
        </tr>
      </ng-template>
    }
    <ng-template #emptymessage>
      <tr>
        <td colspan="6" class="text-center">
          <div class="w-full grid content-center">
            <p class="text-lg font-semibold">No Referrers Found</p>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-toast />

<p-dialog
  [visible]="isReferrerDetailsModalOpen"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [header]="'Referrer Details'"
  [style]="{ width: '70vw' }"
  (onHide)="toggleReferrerDetailsModal(null)"
>
  <ng-template #content>
    @if (selectedReferrer) {
      <app-referrer-details [referrerId]="selectedReferrer"></app-referrer-details>
    }
  </ng-template>
</p-dialog>
